*{
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  position: relative;
  background-color: #191919;
  color: #fff;
  padding-top: 20px;
  z-index: 5;
  /* -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 100%);
   */
  .phone {
    h3 {
      position: absolute;
      top: 50px;
      left: 0;
      font-size: 22px;
      font-family: "Lato-Regular";
    }
  }
  .logo {
    text-align: center;
    h1 {
      a {
        font-size: 100px;
        font-family: "GreatVibes-Regular";
        line-height: 60px;
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
  .f_icon {
    img {
      position: absolute;
      top: 50px;
      right: 0;
    }

  }
  .menu {
    margin-top: 15px;
    text-align: center;
    ul {
      li {
        display: inline-block;
        a {
          display: block;
          padding: 0 35px;
          font-size: 18px ;
          font-family: "Lato-Regular";
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          &:hover {
            color: #c7c6c6;
          }    
        }
      }
    }
  }

}
header:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  transform: skewY(-3deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  z-index: -1;
}

.foto_slider {
  z-index: -2;
  .slider {
    .bx-wrapper {
      border: none;
      img {
        width: 100%;
      }
      .bx-default-pager {
        position: absolute;
        bottom: 60px;
        .bx-pager-link { 
          height: 15px;
          width: 15px;
          border: 1px solid #fff;
          border-radius: 50%;
        }    
      }
      .bx-next {
        display: none;
      }
      .bx-prev {
        display: none;
      }
    }
  } 
}

.about {
  background-color: #191919;
  position: relative;
  z-index: 5;
  margin-top: -60px;
  .text_block {
    h2 {
      color: #ffffff;
      font-family: "Lato-Regular";
      font-size: 44px;
      text-transform: uppercase;
      margin: 0;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    h3 {
      color: #ffffff;
      font-family: "Lato-Thin";
      font-size: 44px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 20px;
    }
    p {
      color: #888888;
      font-family: "Lato-Regular";
      font-size: 15px;
      line-height: 22px;  
      text-align: justify;
    }
    .time_open {
      img {
        float: left;
        margin-right: 15px;
      }
      p > span {
        display: inline-block;
        margin-right: 7px;
      }
    }

  } 
}
.about:before {
  background: inherit;
  top: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  transform: skewY(3deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
  z-index: -1;
}

.about:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  left: 0;
    right: 0;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  transform: skewY(-3deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
  z-index: -3;
}

.artists {
  background-color: #ffffff;
  margin-top: 40px;
  z-index: -2;
  .celebrities {
    margin-top: 40px;
    h2 {
      color: #191919;
      font-family: "Lato-Semibold";
      font-size: 44px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 10px;
    }
    h3 {
      color: #191919;
      font-family: "Lato-Thin";
      font-size: 44px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 5px;
    }
    p {
      margin-top: 20px;
      color: #888888;
      font-family: "Lato-Regular";
      font-size: 15px;
      line-height: 22px;  
      text-align: justify;
    }
     p > a {
        display: inline-block;
        margin-right: 17px;
        font-size: 20px;
        color: #888888;
    }
  }
  .bx-wrapper {
    margin-bottom: 80px;
  }

}

.testimonials {
  position: relative;
  background-color: #191919;
  text-align: center;
  z-index: 6;
    h2 {
      color: #ffffff;
      font-family: "Lato-Regular";
      font-size: 44px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 5px;
      margin-top: 40px;
    }
    h3 {
      color: #ffffff;
      font-family: "Lato-Thin";
      font-size: 44px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 25px;
    }
    h4 {
      color: #888888;
      font-family: "GreatVibes-Regular";
      font-size: 40px;
    }
    p {
      color: ##888888;
      font-family: "Lato-Thin";
      font-size: 15px;
      margin-bottom: 5px;
    }
    a {
      padding: 10px 15px;
      border: 1px solid #ffffff;
      display: inline-block;
      font-family: "Lato-Thin";
      font-size: 16px;
      color: #ffffff;
      background-color: #888888;
      position: absolute;
      bottom: -13%;
      right: 8%;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.5s;
      &:hover {
        text-decoration: none;
        background-color: #191919;
        border-color: #f84502; 
      }
    }
}
.testimonials:before {
  background: inherit;
  top: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  transform: skewY(-3deg);
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  z-index: -1;
} 

.testimonials:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  transform: skewY(-3deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
  z-index: -1;
}

.gallery {
  margin: 80px 0;
  h2 {
      color: #191919;
      font-family: "Lato-Semibold";
      font-size: 44px;
      text-transform: uppercase;
      margin: 0;
      margin-top: 40px;
      margin-bottom: 10px;
    }
  h3 {
    color: #191919;
    font-family: "Lato-Thin";
    font-size: 44px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
  }
  p {
    margin-top: 20px;
    color: #888888;
    font-family: "Lato-Regular";
    font-size: 15px;
    line-height: 22px;  
    text-align: justify;
  }
  .works {
    text-align: center;
    img {
      width: 265px;
      margin-bottom: 30px;
    &:hover {
      cursor: zoom-in;
    }
    }
  }
}
  

.blog {
  background-color: #191919;
  position: relative;
  .block_header {
    text-align: center;
    h2 {
      color: #ffffff;
      font-family: "Lato-Regular";
      font-size: 44px;
      text-transform: uppercase;
      margin: 0;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    h3 {
      color: #ffffff;
      font-family: "Lato-Thin";
      font-size: 40px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 5px;
    }
  }
  .articles {
    margin-bottom: 30px;
    .article {
      position: relative;
      h4 {
        text-transform: uppercase;
        width: 92.5%;
        font-family: "Lato-Regular";
        font-size: 16px;
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        margin: 0;
        color: #dfdfdf;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
      }
      .article_description {
        opacity: 0;
        position: absolute;
        top: 0;
        border: 0;
        left: 15px;
        right: 15px;
        bottom: 0;
        height: 0;
        color: #dfdfdf;
        background: rgba(0, 0, 0, 0.9);
        padding: 0px 10px 10px 10px;
        transition: all 1.5s;
        h5 {
          padding-top: 25px;
          text-transform: uppercase;
          font-family: "Lato-Regular";
          font-size: 16px;
        }
        h6 {
          font-family: "Lato-Thin";
          font-size: 14px;
          line-height: 22px; 
        }
        a {
          background-color: #888888;
          text-transform: uppercase;
          font-size: 13px;
          padding: 10px;
          border: none;
          text-decoration: none;
          color: #dfdfdf;
          transition: all 0.5s;
          &:hover {
            border: .5px solid #f84502;
            background-color: #191919;
          }
        }
        .about_article {
          margin-top: 10px;
          p {
            display: inline-block;
            text-transform: uppercase;
            font-family: "Lato-Regular";
            font-size: 13px;
            padding-right: 10px;
            padding-left: 10px;
            border-right: 1px solid #dfdfdf;
          }
          p:last-child {
            border: none;
          }
        }
      }
    }
  }
}

.blog:before {
  background: inherit;
  top: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  transform: skewY(3deg);
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  z-index: -3;
} 
.blog:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  transform: skewY(3deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100% 0;
  z-index: -2;
} 

.contact {
  position: relative;
  z-index: -4;
  margin-top: 30px;
  margin-bottom: 30px;
  .contact_content {
    h2 {
      color: #191919;
      font-family: "Lato-Semibold";
      font-size: 44px;
      text-transform: uppercase;
      margin: 0;
      margin-top: 40px;
      margin-bottom: 10px;
    }
    h3 {
      color: #191919;
      font-family: "Lato-Thin";
      font-size: 44px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 5px;
    }
    p {
      margin-top: 20px;
      color: #888888;
      font-family: "Lato-Regular";
      font-size: 15px;
      line-height: 22px;  
      text-align: justify;
    }
    p > span {
        display: inline-block;
        margin-right: 7px;
    }
  }
  .contact_img {
    img {
      float: right;
      width: 500px
    }
  }
}

footer {
  background-color: #191919;
  position: relative;
  padding: 20px 0;
  a {
    h2 {
      padding: 15px 0;
      color: #ffffff;  
      font-size: 44px;
      font-family: "GreatVibes-Regular";
      line-height: 30px;
      margin: 0; 
    }
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
  }
    
  p {
    color: #888888;
    font-family: "Lato-Regular";
    font-size: 15px;
    line-height: 22px;  
    text-align: justify;
  }
  .rights {
    margin-top: 20px;
    .creat_by {
      display: inline-block;
      padding-right: 30px;
    }
  }
  .social_facebook {
    text-align: right;
  }
  .scroll_to_top{
    text-decoration: none;
    position:fixed;
    bottom: 115px;
    right: 35px;
    z-index: 11;
    border: none;
    background: none;
    display:none;
    opacity: 0.7;
    .fa-arrow-circle-up {
      color: #f84502;
      font-size: 35px;
    }
    &:hover {
      opacity: 1;
    }
  }
  .scroll_to_top:hover{
    text-decoration:none;
  }
}
footer:before {
  background: inherit;
  top: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  transform: skewY(-3deg);
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  z-index: -3;
} 






